transformers==4.45.2
deepspeed==0.12.0
datasets==3.1.0
accelerate==0.34.0
peft==0.12.0
trl==0.9.6
tokenizers==0.20.3
gradio>=4.38.0,<=5.12.0
pandas==2.2.3
scipy
einops
sentencepiece
tiktoken
protobuf
uvicorn
pydantic
fastapi
sse-starlette
matplotlib>=3.7.0
fire
packaging
pyyaml
numpy==1.26.4
av
librosa
tyro<0.9.0
